.search-input {
	width: 300px !important;
}

.stamp {
	display: none;
	position: fixed;
	top: 80px;
	left: 10px;
	z-index: 100;
	/* transform: rotate(-20deg); */
	/* border-style: dotted; */
	font-size: .8em;
	font-weight: bold;
	padding: .6em .6em 0 .6em;
}

.stamp p {
	color: red;
}

@media (min-width: 1800px) {
	.stamp {
	display: block;
	}
}
