/* TABLE */
table {
	font-weight: bold;
}
thead {
	background-color: #424242;
	color: white;
}
tbody tr:nth-child(odd){
	background-color: #BDBDBD;
}
tbody tr:nth-child(even){
	background-color: #E6E6E6;
}
.name-column,
.phone-column,
.action-column {
	width: 300px;
	text-align: center;
}

/* CARD */
.card-header {
	margin: 68px auto 10px auto !important;
	border: 2px solid #424242 !important;
	text-align: center;
}
.add-container .card,
.edit-container .card {
	display: flex;
	align-items: center;
	margin-top: 70px;
	background-color: #FAFAFA;
}
.card-body form {
	align-items: center;
}
label {
	width: 500px;
}
input {
    text-align: center;
		margin: 15px;
}
